<div id="<%= dom_id livro %>">
  <p>
    <strong>Title:</strong>
    <%= livro.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= livro.author %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= livro.quote %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= livro.description %>
  </p>

</div>
